<!DOCTYPE html>
<html>
<head>
    <title>Very Basic Template</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#get_ajax_link").click(function(){
                alert("clicked");
                $("#ajax_results").load("/ajax_results/");
            });
        });
    </script>
</head>
<body>

<h1>Dirt Simple Ajax Example</h1>
<select>
    {% for option in dropdown_options %}
        <option value = "{{ option.type }}">{{ option.type }}</option>
    {% endfor %}

</select>

<h2>Results</h2>

<div id="ajax_results"></div>

<p id="get_ajax_link">Get Ajax Results</p>

{% comment %}
{% for each in ajax_results %}
<tr>
    <td>{{ each.name }}</td>
    <td>{{ each.type }}</td>
    <td>{{ each.date_created }}</td>
    <td>{{ each.date_modified }}</td>
</tr>
{% endfor %}
{% endcomment %}
</body>
</html>