<!DOCTYPE html>
<html>
<head>
    <title>Very Basic Template</title>
    <style>
        .container {
                    border-style:solid;
                    border-width:2px;
                    border-radius:10px;
                    padding:10px;
                    margin-bottom:20px;
                    }
        .alert     {
                    border-radius:5px
                    margin:10px;
                    background-color:yellow;
                    }


    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {

            function get_ajax_results() {
                var currentSelection = $('#select_widget').val();
                var target = "/ajax_results/" + currentSelection;
                $("#ajax_results").load(target);
            }

            get_ajax_results(); //go ahead and get results for default selection

            //on change event for select wiget to execute query and update ajax_results
            $("#select_widget").change(function(){
                get_ajax_results();
            });

            //on submit event for form submit to post data
            $("#ajax_add_form").submit(function(){
                $.ajax({
                data: $(this).serialize(), // get the form data
                type: "POST",
                url: "/ajax_post_view/",
                success: function(response) { // on success..
                    $('#success_div').html(response); // update the DIV
                    get_ajax_results(); //update the ajax search to display the new data (assuming the selector is on correct category)
                    $("input[type=text], textarea").val(""); //clear the form

                },
                error: function(e, x, r) { // on error..
                    $('#error_div').html(e); // update the DIV
                    }
                });
            return false;
            });
        });
    </script>
</head>
<body>

<h1>Dirt Simple Ajax Example</h1>

<div class="container">
    <h2>Get results from db and dynamically insert them in the results section</h2>
    <select id="select_widget">
    {% for option in dropdown_options %}
        <option value = "{{ option.type }}">{{ option.type }}</option>
    {% endfor %}

    </select>

    <h3>Results</h3>

    <div id="ajax_results"></div>
</div>

<div class="container">
    <h2>Add a new entry to the database using AJAX</h2>
    <form id="ajax_add_form">
      {% csrf_token %}
      {{ add_item_form.as_p }}
      <input type="submit" value="Add entry"/>
    </form>
    <div id="success_div" class="alert success"></div>
</div>

</body>
</html>
